rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    match /sessions/{sessionId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
    
    match /timers/{timerId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    // Quyền riêng tư cho thông tin người dùng
    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
    
    // Quyền Admin tổng quát
    match /{document=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
